li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.leagues-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 1em;
}

.leagues-wrapper {
    border-radius: 4px;
    width: 100%;
    background-image: linear-gradient(120deg, rgb(2, 239, 255, 0.3), rgb(98, 123, 255, 0.3));
    display: flex;
    flex-direction: column;
}

.leagues-header {
    background-image: linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
    padding: 1.5rem;
    border-radius: 4px 4px 0px 0px;
}

.leagues-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leagues-list {
    padding: 1.5rem;
    width: 90%;
    max-width: 1200px;
}

.leagues-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(98, 123, 255, 0.15);
    background-image: linear-gradient(to right, rgb(2, 239, 255, 0.05), rgb(98, 123, 255, 0.05));
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    transition: ease-out 0.1s;
}

.leagues-list-item:hover {
    background-image: linear-gradient(to right, rgb(2, 239, 255, 0.2), rgb(98, 123, 255, 0.2));
    border: 2px solid rgb(98, 123, 255, 0.3);
}

.leagues-list-item h2 {
    font-weight: 400;
    font-size: 16px;
}