.live-rank-header {
    width: 90%;
    text-align: left;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 30px;
}

.live-rank-team {
    border-radius: 8px;
    height: auto;
    width: 70%;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 10px 1.5px #b5b5b5;
}

.starting-xi {
    background-color: #09c75b;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.starting-defenders, .starting-midfielders, .starting-forwards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.starting-keeper {
    margin: 20px 0px 20px 0px;
}

.bench-players {
    background-color: lightgray;
    height: auto;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.live-rank-stats {
    width: 30%;
    text-align: center;
    height: auto;
}

.stats {
    margin-top: 50px;
}

.stats, .personal-info {
    text-align: left;
    margin-left: 30px;
}

