.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0 2em 0;
}

/* ID input */
.id-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    background-image: linear-gradient(to right, rgb(2, 239, 255, 0.6), rgb(98, 123, 255, 0.6));
    border-radius: 1em;
    border: 0.5px solid rgb(98, 123, 255);
}

.id-section h1 {
    font-size: 36px;
    font-weight: 200;
}

.enter-id {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.fpl-id {
    border: 1px solid #340040;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    padding: 1em;
}

.submit-btn {
    padding: 1em;
    background-color: #05F26C;
    border: 1px solid #340040;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.tip {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    text-align: left;
    opacity: 90%;
    font-size: 0.8em;
}