.navbar {
    width: 100%;
    background-color: #340040;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #05F26C;
}

.navbar ul {
    display: flex;
    list-style: none !important;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.navbar ul li:hover {
    cursor: pointer;
    background-color: #05F26C;
    color: #1f1f1f;
}