
.player-card {
    width: 130px;
    background-color: #70c494;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    box-shadow: 0px 0px 5px 1px #45a870;
    border-radius: 5px;
}

.player-img {
    width: 50px;
}

.eo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eo-near {
    background-color: rgb(99, 251, 99);
    border-radius: 3px 0px 0px 3px;
}

.eo-overall {
    background-color: rgb(212, 212, 212);
    border-radius: 0px 3px 3px 0px;
}

.eo-near, .eo-overall {
    padding: 3px;
    font-size: 12px;
    margin: 0;
    margin-bottom: 16px;
}

.player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-wrapper p {
    margin: 2px 0px 16px;
}

.player-card-points {
    margin: 0;
    background-color: #5ebc87;
    border: 0.5px solid #2d6a47;
    width: 80%;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
}

.hide {
    display: none;
}

.player-card-points:hover + .hide {
    display: inline-block;
    z-index: 1;
}

